@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Light theme colors */
    --light-background: #FFFFFF;
    --light-text: #474747;
    --light-accent: #8B0000;
    --light-btn: rgb(0, 99, 0);
    --light-sct: #ff0000; 
    /* Dark theme colors */
    --dark-background: #474747;
    --dark-text: #D3D3D3;
    --dark-accent: #FF0000;
    --dark-btn: rgb(179, 255, 179);
    --dark-sct: #000000; 
}

body {
    /* default to light theme */
    background-color: var(--light-background);
    color: var(--light-text);
 
}

header {
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: white; 
    padding-bottom: 10px;  
}

header h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

header button a {
    color: rgb(0, 0, 0);
    margin-top: -15px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

header button:hover {
    background-color: #474747;
    color: white;
}

header a:hover {
    background-color: #47474 ;
    color: white;
    text-decoration: none;
}


button {
   
    background-color : rgb(255, 255, 255) ;
    font-size: 16px;
    letter-spacing: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}




.statment {
  
    
    display: initial;
    justify-content: center;
}
.statment, p {

    padding-top: 60px;
    justify-content: center;
    font-familye: Roboto;
    font-weight: normal;
    color: #474747;
    padding-left: 35%;
    padding-right: 35% ;
  

}



body.dark-theme {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

body.dark-theme h1, body.dark-theme h2 {
    color: var(--dark-text);
}

body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: var(--dark-accent);
}




body.dark-theme button {
    background-color: var(--dark-btn);
    color: var(--light-text);
}
/* 
.r-btn {
    border-radius:30px 0px 0px 30px;
    padding: 0px 20px 0 20px;
}

.mid-btn {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.l-btn {
    border-radius: 0px 30px 30px 0px;
    padding: 0px 15px 0px 20px;
} */


.fotos_main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 20px;
    margin-left: 3em;
    margin-right: 3em;
}


.fotos, img {
   
   padding: 1%;
    width: 80%;
    height:auto;
}

.masonry {
    /* Break columns at every size */
    column-count: 5;
    column-gap: .5em;
}

.masonry img {
    /* Make sure items break across columns */
    break-inside: avoid;
    /* Margin bottom to mimic the gap on top caused by column-gap */
    margin-bottom: 1em;
    /* Full width to span multiple columns */
    width: 100%;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    display: flex;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
}

/* Add Animation */
.modal-content, #caption { 
    animation-name: fadeIn;
    animation-duration: 0.5s;
    color: white;
    text-align: center;
    font-family: Roboto Mono, monospace;
}

#caption {
    
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 45vw;
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
    padding: 10px;
    z-index: 90;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

#caption:hover {

    background-color: #000000;
    color: white;
    
    border-color: #757575;
   
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #f40000;
    text-decoration: none;
    cursor: pointer;
}

.modal-navigation {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1em; /* adjust as needed */
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
}

.modal-navigation:hover {
    background-color: rgba(255, 255, 255, 0.225);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* you may want to position these buttons */
#prevButton {
    position: absolute;
    top: 50%;
    left: 5%;
}

#nextButton {
    position: absolute;
    top: 50%;
    right: 5%;
}




