/* CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Light theme colors */
    --light-background: #FFFFFF;
    --light-text: #474747;
    --light-accent: #8B0000;
    --light-btn: rgb(0, 99, 0);
    --light-sct: #ff0000; 
    /* Dark theme colors */
    --dark-background: #474747;
    --dark-text: #D3D3D3;
    --dark-accent: #FF0000;
    --dark-btn: rgb(179, 255, 179);
    --dark-sct: #000000; 
}

body {
    /* default to light theme */
    background-color: var(--light-background);
    color: var(--light-text);
    font-family: 'Rubik', sans-serif;
}

header {
    display: grid;
    justify-content: center;
}

.statment {
    padding: 1%;
    display: initial;
    justify-content: center;
}
.statment, p {

   
    justify-content: center;
    font-family: Roboto;
    font-weight: normal;
    color: #474747;
    padding-left: 35%;
    padding-right: 35% ;
  

}



body.dark-theme {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

body.dark-theme h1, body.dark-theme h2, {
    color: var(--dark-text);
}

body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: var(--dark-accent);
}

button {
    background-color : var(--light-btn);
    color : var(--dark-text);
    font-size: 20px;
}

body.dark-theme button {
    background-color: var(--dark-btn);
    color: var(--light-text);
}

.r-btn {
    border-radius:30px 0px 0px 30px;
    padding: 0px 20px 0 20px;
}

.mid-btn {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.l-btn {
    border-radius: 0px 30px 30px 0px;
    padding: 0px 15px 0px 20px;
}


.fotos_main {
    display: flex;
    justify-content: center;
   
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 20px;
    margin-left: 5em;
    margin-right: 5em;
}


.fotos, img {
   
   padding: 3%;
    width: 60rem;
    height:auto;
}

.masonry {
    /* Break columns at every size */
    column-count: 3;
    column-gap: 1em;
}

.masonry img {
    /* Make sure items break across columns */
    break-inside: avoid;
    /* Margin bottom to mimic the gap on top caused by column-gap */
    margin-bottom: 1em;
    /* Full width to span multiple columns */
    width: 100%;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
}


/* Add Animation */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.3s;
    color: white;
    text-align: center;
    font-family: Roboto;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-navigation {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 2em; /* adjust as needed */
    cursor: pointer;
}

/* you may want to position these buttons */
#prevButton {
    position: absolute;
    top: 50%;
    left: 5%;
}

#nextButton {
    position: absolute;
    top: 50%;
    right: 5%;
}



footer {
    font-family: Roboto;
     color: black; 
     font-weight: normal;
      text-align: center;
        font-size: 20px;
}