

.fotos_main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 20px;
    margin-left: 3em;
    margin-right: 3em;
}


.fotos, img {
   
   padding: 1%;
    width: 80%;
    height:auto;
}

.masonry {
    column-count: 3;
    column-gap: .5em;
}

.masonry img {
    break-inside: avoid;
    width: 100%;
}
@media (max-width: 1025px) {
   .masonry {
      column-count: 2;
    }

    .fotos_main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
  
 }

@media (max-width: 768px) {
   .masonry {
      column-count: 1;
    }
    
    .contrataciones {
       display: none;
    }

    .instrucciones {
     padding: 30px;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    display: flex;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
}

/* Add Animation */
.modal-content, #caption { 
    animation-name: fadeIn;
    animation-duration: 0.5s;
    color: white;
    text-align: center;
    font-family: Roboto Mono, monospace;
}

#caption {
    
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 45vw;
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
    padding: 10px;
    z-index: 90;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

#caption:hover {

    background-color: #000000;
    color: white;
    
    border-color: #757575;
   
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #f40000;
    text-decoration: none;
    cursor: pointer;
}

.modal-navigation {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1em; /* adjust as needed */
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
}

.modal-navigation:hover {
    background-color: rgba(255, 255, 255, 0.225);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* you may want to position these buttons */
#prevButton {
    position: absolute;
    top: 50%;
    left: 5%;
}

#nextButton {
    position: absolute;
    top: 50%;
    right: 5%;
}



