@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Syne:wght@400;700&display=swap');




  body {
   
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    /* background-image: url('assets/img/diario_elcarmen/IMG_20220924_172131_1-4.jpg');  */
}

.main {
    
display: flex;
flex-direction: row-reverse;
align-content: center;
justify-content: space-evenly;
align-items: center;
height: 95vh;
}

.img_lands {
    padding: 30px;
    height: 70vh;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:15px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp i {
    margin:13px;
    background-color:#25d366;
    padding: 2vh;
    border-radius: 100px;
  }

  .whatsapp i:hover {
    background-color:#07a13f;
    color:#adffcb;
   
  }

  header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    z-index: 5;
    letter-spacing: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
   
  }

  header h2 {
    color: white !important;
    font-family: 'Syne', sans-serif;
    font-size: vh;
  }

  h1, h2, h3 {
    font-family: 'Syne', sans-serif;
    color: rgb(0, 0, 0);
  }




/* .content {
  width: 70vw;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);

}

.content, h1 {
  font-size: 30px;
} */

.flyer {
  height: 100vh !important;
}



.flyer, h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.flyer, h4 {
    font-style: normal;
    letter-spacing: 5px;
}

.flyer, p {

  font-size: 16px;
  font-weight: 700;
  color: #474747;
  letter-spacing: 2px;
}



.precio {
letter-spacing: -1px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #040404;
  color: #25d366;
display: inline-block;
margin: 20px;
padding: 20px;
font-weight: bolder;
letter-spacing: 2px;

}

.precio a {
  color: rgb(207, 255, 222);
  text-decoration: none;


}

.precio:hover {
  background-color: rgb(10, 210, 10) !important;
  color: #c0ffdb;
}



.paquetes {
color: rgb(255, 255, 255);   
font-family: 'Syne' , serif;
font-weight: bold; font-style: normal;  font-size: 18px;
}

.container_buttons {
  position: fixed;
  background-color: #000000;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 30px;
  padding: 1vh;
text-transform: uppercase;
}

.container_buttons  button, .nav_mobile   {
  text-transform: uppercase;
}

 button {
  background-color: #1d1d1d;
  color: white;
  padding: 5px;
  margin: 1px;
  font-family: 'Syne', serif;
  font-size: 1em;
  letter-spacing: 7px;
  flex-grow: 1;
  border-style: none;
}

button:hover {
  background-color: #c0ffc0;
  color: rgb(0, 0, 0);
 
}

.img_cover {
 margin: 20px;
  object-fit: scale-down;
  display: flex;
  z-index: -2;
}

.paquete_foto {
    padding: 1.5vw;
}

.paquete_foto_smol {
    display: none;
  color: #474747;
  position: relative;
    padding: 5px;
    background-color: #ffffff00;
   
}

.nav_mobile {
    display: none;
}

.container_buttons {
    position: absolute;
    margin-bottom: 50%;
    text-transform: uppercase;
}

.container_buttons a:hover  {
 text-decoration: none;
 color: #000000;
 background-color: #ffffff00;
}

.container_buttons a {
  
  color: white;
 }

@media screen and (max-width: 1024px)  {

  body {
    text-align: center;
  }

  .img_cover {
    margin: 50px;
    
   }
    

.paquete_foto_smol {
display: grid;
margin-bottom: 350px;
}

.main {
  align-items: stretch;
  margin-bottom: 300px;
  justify-content: center;
  text-align: center;

}


.paquete_foto {
    display: none;
}
}

@media screen and (max-width: 626px)  {


  .whatsapp {
    position:fixed;
    width:auto;
   height: 9vh;
    bottom:9vh;
    padding-bottom: 10px;
    font-size:40px;
    z-index:100;
  }


  .img_cover {
    margin: 0px;
   }

  

    .container_buttons {
        display: none;
    }
  
    .nav_mobile {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 100vw;
        font-weight: bold;
        top: 0;
        left: 0;
        background-color: #1d1d1d;
        color: #ffffff;
        font-family: 'Synes', serif;
        text-transform: uppercase;
        z-index: 9999;
        }
        
        .dropdown-content {

        font-family: 'Syne', serif;
        background-color: #494949;
        display: none;
        position: fixed;
        top: 4.5%;
        min-width: 90vw;
        height: 30vh;
        z-index: 1;
        box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.563);
        }
        
        .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
    }


  








/* 
.fixed-size-div, img {
width: 100%;
height: 100%;
object-fit: cover;
}

.fixed-size-div, .fixed-size-div #image-slider, .fixed-size-div #slider-image {
width: 100%;
height: 100%;
object-fit: contain;
}

footer {
  position: fixed;
  bottom: 0;
  display: contents;
  text-align: center;
}

 */





